.App {
  margin: 0 auto;
}

body {
  background-color: #CAF0F8;
  color: rgb(3, 13, 29);
  font-family: 'Graduate', cursive;
}

.wrapper {
  max-width: 1280px;
  width:100%;
  margin: 0 auto;
  margin-top: 45px;
}

.heading {
  text-align: center;
  font-size: 5rem;
  text-shadow: 2px 2px #fafae2;
  color: rgb(84, 105, 165);
  font-family: 'Graduate', cursive;
}

@media (max-width: 767px) {
.heading {
font-size: 3rem;
}

.Search {
  width: 300px;
}

}

.heading--small {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 2px #e8e8b0;
  color: rgb(84, 105, 165);
}

.Search {
  width: 500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  padding: 10px;
  font-size:18px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #1C76D2;
  outline: none;
}

.person-container {
  display:flex;
  flex-wrap: wrap; 
  margin:50px auto;
  margin-left: 100px;
}

.person-details {
  max-width:300px;
  min-width:300px ;
  border: 1px solid #FFE4C0;
  padding:20px;
  margin:1%;
  background-color: #F0FFC2;
  border-radius: 5px;
}

h1 {
  font-style: italic;
  font-weight: 700;
}

.btn {
  background-color: #00B4D8;
  outline: none;
  border: none;
  padding:8px 12px;
  color:white;
  font-size: 16px;
}

.btn-category{
  margin-left: 20px;
  margin-top: 20px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width:100%;
}

